/node_modules
/public/hot
/public/storage
/storage/*.key

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
Appbefor.rar
public/assets/images/
public/images/
public/assets/books/
resources/js_auth_advance_.zip
node_modules.zip
node_modules_2.zip
vendor.zip
.vs
public/site/fe1f7377-1c49-49b8-89e7-af700d2f7609.pdf
public/assets/sounds/AUD-20220129231420.mp3
public/assets/sounds/AUD-20220129231519.mp3
